@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");




/*for the interior page*/

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Teko', sans-serif;
  background: #000;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 3vmin;
}

#footer{
  position: absolute;
  text-align: center;
  font-size: 8vmin;
  /* text-transform: uppercase; */
  letter-spacing: 5px;
  line-height: .8;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s linear infinite;
  top:0;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }

  100% {
    background-position-x: 500%;
  }
}


/*navbar*/

.nav, .menu {
    display: flex;
    margin: 30px;
    justify-content: center;
    align-items: center;
    top: 0%;
}

.nav {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    transition: 0.5s;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    /* margin-left: -310px; */
    left: 0%;

}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked ~ .menu {
    width: 200px;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: #161919;
}

.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: #f42c2c;
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

.categories{
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
    padding-left: 10px;
    /* border-left: 2px solid #3ca0e7; */
    transition: all 0.3s ease

  }

  .categories a:hover {
    padding-left: 10px;
    border-left: 2px solid  #f42c2c;
    transition: all 0.5s ease;
  }

  #overflow{
    overflow: hidden;
    transition: 0.5s
  }

  .dropdown{
    display:none;

  }

  #overflow:hover .dropdown{
    display: block;
    overflow: hidden;
    transition: all 0.3s ease

  }

/*question container*/

.container {
  display: flex;
  position: relative;
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
  background: #E7F3F1;
  border: .50em solid white;
  padding: 1em;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  /* height: fit-content;
  width: fit-content; */
  border-radius: 30px;
  height: 80px;
  width: 550px;
  /* display:none; */
}

/*time left bar*/

.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 10px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 20px;
  width: 580px;
}

.progress-value {
  animation: load 10s normal forwards;

  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 10px;
  width: 0;
  animation-iteration-count: infinite;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}

#multichoices{
  list-style-type: none;
  justify-content: flex-start;
  text-align: left;
  float: left;


}

.answerList{
  text-align: left;
  float: left;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: .10em solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 5px;


}

/*multiple choices list container*/

.mChoiceContainer {
  display: flex;
  position: relative;
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
  background: #E7F3F1;
  border: .50em solid white;
  padding: 1em;
  font-family: 'Open Sans', sans-serif;
  /* margin: 10px;
  margin-left: auto;
  margin-right: auto;*/
  margin-top: 5px;
  border-radius: 30px;
  height: fit-content;
  width: fit-content;
  height: fit-content;
  width: 550px;

  /* display:none; */
}

/*diplaying and hiding content*/

.triviaContainer{
  display: none;
}

.wrapper{
  display: block;
}


/*The start button for random of 20*/

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}


.wrapper .start:hover,
.wrapper .start:hover .tooltip,
.wrapper .start:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

