@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');




/*for the interior page*/

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Teko', sans-serif;
  background: #000;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 3vmin;
}

p {
  position: absolute;
  text-align: center;
  font-size: 8vmin;
  /* text-transform: uppercase; */
  letter-spacing: 5px;
  line-height: .8;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s linear infinite;
  top:100%;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }

  100% {
    background-position-x: 500%;
  }
}


/*navbar*/

.nav, .menu {
    display: flex;
    margin: 30px;
    justify-content: center;
    align-items: center;
    top: 0%;
}

.nav {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    transition: 0.5s;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    margin-left: -360px;

}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked ~ .menu {
    width: 200px;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: #161919;
}

.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: #f42c2c;
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

#categories{
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
    padding-left: 10px;
    /* border-left: 2px solid #3ca0e7; */
    transition: all 0.3s ease

  }

  #categories a:hover {
    padding-left: 10px;
    border-left: 2px solid  #f42c2c;
    transition: all 0.5s ease;
  }

  #overflow{
    overflow: hidden;
    transition: 0.5s
  }

  .dropdown{
    display:none;

  }

  #overflow:hover .dropdown{
    display: block;
    overflow: hidden;
    transition: all 0.3s ease

  }

/*question container*/

.container {
  display: flex;
  position: relative;
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
  background: #E7F3F1;
  border: .75em solid white;
  padding: 2em;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  /* height: fit-content;
  width: fit-content; */
  height: 80px;
  width: 400px;
  /* display:none; */
}

/*time left bar*/

.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 68%; }
}